:root {
  --primary: #333;
  --red: #ff6348;
  --green: #32ff7e;
  --blue: #6a89cc;
  --pink: #ffcccc;
  --yellow: #feca57;
  --white: ghostwhite;
  --background-color-light: var(--white);
  --background-color-dark: #fff;
  --font-family: 'Lato', sans-serif;
  --box-shadow: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
}